html
  background-color: $hl
  color: $fg
  margin: 1em

body
  background-color: $bg
  margin: 0 auto
  max-width: 23cm
  border: 1pt solid $comment
  padding: 1em

code
  background-color: $bg_alt
  padding: 2px

a
  color: $yellow

a:visited
  color: $orange

a:hover
  color: $orange

h1
  color: $blue-2

h2,h3,h4,h5,h6
  color: $blue-1

pre
  background-color: $bg
  color: $fg
  border: 1pt solid $comment
  padding: 1em
  box-shadow: 5pt 5pt 8pt $hl
  code
    background-color: @background-color

h1
  font-size: 2.8em
h2
  font-size: 2.4em
h3
  font-size: 1.8em
h4
  font-size: 1.4em
h5
  font-size: 1.3em
h6
  font-size: 1.15em
