//for org-mode export
.tag
  background-color: $hl
  color: $green+1
  padding: 0 0.2em

.todo, .next, .done
  color: $bg
  background-color: $red
  padding: 0 0.2em

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  
rounded()
  border-radius 0.2em

.tag 
  border-radius 0.35em

.TODO
  rounded()
  background-color: $cyan

.NEXT
  rounded()
  background-color: $blue

.ACTIVE
  rounded()
  background-color: $blue

.DONE
  rounded()
  background-color: $green

.WAITING
  rounded()
  background-color: $orange

.HOLD
  rounded()
  background-color: $green1

.NOTE
  rounded()
  background-color: $green1

.CANCELLED
  rounded()
  background-color: $green

pre.src
  background: $bg_alt
  color: $fg

.org-preprocessor
  color: $blue

.org-variable-name
  color: $yellow

.org-string
  color: $red

.org-type
  color: #dfdfbf
  font-weight: bold

.org-function-name
  color: $blue
  font-weight: bold

.org-keyword
  color: $yellow
  font-weight: bold

.org-comment
  color: $green

.org-doc
  color: $green3

.org-comment-delimiter
  color: #708070

.org-constant
  color: $red1
  font-weight: bold

.org-builtin
  color: $green